src/app/n8n-library/jsons/AI-Agent-Development Agent.json
{
  "name": "AI Agent Development Agent (Synced)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [400, 120],
      "id": "chat-trigger",
      "name": "When chat message received"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=# Overview\nYour job is to take the incoming query and pass that to the \"Developer Tool\" tool EXACTLY AS YOU RECEIVED IT. Don't change any wording.\n\nOnce you receive a workflow link back from the Developer Tool, present it to the human as a clickable link that says \"View your finished workflow\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [600, 120],
      "id": "n8n-developer",
      "name": "n8n Developer"
    },
    {
      "parameters": {
        "model": {
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT 4.1 mini"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [400, 280],
      "id": "gpt-mini",
      "name": "GPT 4.1 mini"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [560, 280],
      "id": "simple-memory",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Call this tool once you have a finished workflow design to build the workflow.",
        "workflowId": {
          "value": "lCxX3GtPYi8jhLHV",
          "mode": "id"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [720, 280],
      "id": "developer-tool",
      "name": "Developer Tool"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [400, 480],
      "id": "workflow-trigger",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "value": "1TiRusVo4DbbANwAr7I0GUGDZY3pmEmHZy3k66mRxLCg",
          "mode": "list",
          "cachedResultName": "n8n Documentation V4"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [560, 480],
      "id": "get-docs",
      "name": "Get n8n Docs"
    },
    {
      "parameters": {
        "operation": "text"
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [720, 480],
      "id": "extract-file",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User request: {{ $('When Executed by Another Workflow').item.json.query }}"
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [880, 480],
      "id": "n8n-builder",
      "name": "n8n Builder"
    },
    {
      "parameters": {
        "model": {
          "value": "claude-opus-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Opus 4"
        },
        "options": {
          "maxTokensToSample": 8000,
          "thinking": true,
          "thinkingBudget": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [880, 640],
      "id": "claude-opus",
      "name": "Claude Opus 4"
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $json.output[1].text }}"
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [1040, 480],
      "id": "n8n-create",
      "name": "n8n"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "Workflow Link",
              "value": "=https://YOUR_N8N_DOMAIN/workflow/{{ $json.id }}",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1200, 480],
      "id": "workflow-link",
      "name": "Workflow Link"
    },
    {
      "parameters": {
        "content": "# 🛠️ Setup Guide\nFollow the steps below to get this workflow up and running:\n\n✅ Step 1: Connect OpenRouter API Key\n✅ Step 2: Add Anthropic API Key (Optional)\n✅ Step 3: Link the Developer Tool\n✅ Step 4: Add your n8n API Key\n✅ Step 5: Copy Google Doc\n\n🧪 Final Step: Start Testing"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "setup-guide",
      "name": "Sticky Note - Setup Guide"
    },
    {
      "parameters": {
        "content": "# n8n Developer Agent",
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [360, 40],
      "id": "sticky-developer",
      "name": "Sticky Note - Developer Agent"
    },
    {
      "parameters": {
        "content": "## Brain",
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [360, 240],
      "id": "sticky-brain",
      "name": "Sticky Note - Brain"
    },
    {
      "parameters": {
        "content": "## Tool",
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [680, 240],
      "id": "sticky-tool",
      "name": "Sticky Note - Tool"
    },
    {
      "parameters": {
        "content": "# Workflow Builder",
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [360, 420],
      "id": "sticky-builder",
      "name": "Sticky Note - Workflow Builder"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [[{ "node": "n8n Developer", "type": "main", "index": 0 }]]
    },
    "n8n Developer": {
      "ai_languageModel": [[{ "node": "GPT 4.1 mini", "type": "ai_languageModel", "index": 0 }]],
      "ai_memory": [[{ "node": "Simple Memory", "type": "ai_memory", "index": 0 }]],
      "ai_tool": [[{ "node": "Developer Tool", "type": "ai_tool", "index": 0 }]]
    },
    "When Executed by Another Workflow": {
      "main": [[{ "node": "Get n8n Docs", "type": "main", "index": 0 }]]
    },
    "Get n8n Docs": {
      "main": [[{ "node": "Extract from File", "type": "main", "index": 0 }]]
    },
    "Extract from File": {
      "main": [[{ "node": "n8n Builder", "type": "main", "index": 0 }]]
    },
    "Claude Opus 4": {
      "ai_languageModel": [[{ "node": "n8n Builder", "type": "ai_languageModel", "index": 0 }]]
    },
    "n8n Builder": {
      "main": [[{ "node": "n8n", "type": "main", "index": 0 }]]
    },
    "n8n": {
      "main": [[{ "node": "Workflow Link", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
