src/app/n8n-library/jsons/Auto-Respond to Slack Messages as Yourself using GPT and Google Docs RAG.json
{
  "name": "Auto-Respond to Slack Messages as Yourself using GPT and Google Docs RAG",
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "any_event",
          "app_mention"
        ],
        "watchWorkspace": true,
        "options": {
          "userIds": "==[\"User_ID\"]"
        }
      },
      "id": "c724b8ae-462f-4bb5-8e23-09dfe66e783b",
      "name": "Slack Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "position": [
        1296,
        400
      ],
      "typeVersion": 1,
      "webhookId": "f2a3a82b-a33d-4d0b-a37c-16603a0a3e4b"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5",
          "cachedResultName": "gpt-5"
        },
        "options": {}
      },
      "id": "a15d59e3-4ada-418b-9cde-7dc8f713ecc9",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1504,
        608
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.channel }}"
      },
      "id": "0d87970d-9887-4ec4-ab10-3564310919cc",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1696,
        608
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Slack Trigger').item.json.channel }}"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "sendAsUser": "Jacob"
        }
      },
      "id": "5ed06900-d13c-44f6-b763-5d9cd176db01",
      "name": "Send a message",
      "type": "n8n-nodes-base.slack",
      "position": [
        2048,
        400
      ],
      "typeVersion": 2.3,
      "webhookId": "f4dc137f-ad4c-41fa-8d37-f2c4e80ddaf5"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "GOOGLE DOC ID OR URL"
      },
      "id": "ff806d9b-f9bf-4071-aebc-be85b6bcf2d4",
      "name": "Get a document in Google Docs",
      "type": "n8n-nodes-base.googleDocsTool",
      "position": [
        1872,
        608
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "Slack Respond as a User",
        "height": 624,
        "width": 304,
        "color": 3
      },
      "id": "9cce7ec0-c157-47a9-81df-0ebc08114287",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2000,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "GPT-5 Agent",
        "height": 624,
        "width": 544,
        "color": 4
      },
      "id": "bd66fe12-5532-4183-b641-71f6cadcc204",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "You are Jacob, a social media manager at Purple Unicorn Marketing Agency. Respond to your members' message on Jacob's behalf on Slack. Sound friendly and natural in a typical tech working environment. \n\n##Tool\nUse the Google Doc Tool when asked about Project Updates"
        }
      },
      "id": "cdd11d82-b9bf-435e-8bb1-208737b8c74b",
      "name": "GPT 5 Slack Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1616,
        400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "Slack Trigger",
        "height": 624,
        "color": 5
      },
      "id": "faa86c34-10a7-47bd-b258-250e24bb6b9a",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1184,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "💬 GPT-5 Slack Impersonation Agent with RAG – Auto-Respond to Messages Using Live Project Docs\n\nLet AI handle your Slack conversations — and always have the right answer.\nThis n8n workflow transforms GPT-5 into your on-brand Slack assistant, capable of responding as you in real-time while referencing a Google Docs RAG (Retrieval-Augmented Generation) document for accurate project updates.\n\nWatch step-by-step build like these on:\nhttps://www.youtube.com/@automatewithmarc\n\nHere’s how it works:\n\nListens for Slack mentions or messages — triggered instantly when someone talks to you.\n\nUnderstands the conversation context using GPT-5 and conversation memory.\n\nRetrieves the latest project updates from your linked Google Doc via RAG.\n\nResponds in Slack as you — maintaining your tone, style, and workplace personality.\n\nKey Features & Benefits:\n\n🧠 RAG-powered accuracy – Always pulls the latest info from your project docs.\n\n🤖 GPT-5 natural conversation – Replies feel human, friendly, and context-aware.\n\n⚡ Instant responses – No more message backlog or missed updates.\n\n🎯 Impersonation mode – Sends replies under your Slack name for seamless collaboration.\n\n🔄 Continuous conversation memory – Keeps track of what was said before.\n\nIdeal Use Cases:\n\nActing as a stand-in during busy periods so no message goes unanswered.\n\nProject managers who want instant, document-backed answers.\n\nCustomer support or client-facing roles needing quick, accurate replies.\n\nIncluded Integrations:\n\nSlack Trigger & Send Message – Listen and reply in real-time.\n\nGPT-5 Agent – Craft context-aware, on-brand responses.\n\nGoogle Docs Tool – Pull live data from your RAG document.\n\nConversation Memory – Maintain context across messages.\n\n💡 Pro Tip: Customize the system prompt to mimic your exact tone and integrate with multiple docs for broader knowledge coverage.",
        "height": 1008,
        "width": 768
      },
      "id": "44ae482d-d65a-4f05-be10-9948733394b8",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "GPT 5 Slack Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "GPT 5 Slack Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT 5 Slack Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "GPT 5 Slack Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "GPT 5 Slack Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "862aeb8c-2287-4c95-98c1-4a051945bd7b",
  "meta": {
    "templateId": "7426",
    "instanceId": "edc6b29440a8527b40ab7b686d557a3f22ba638eac75ae01f4cebc40fffb5604"
  },
  "id": "fq4jQc2pUqvQTUTu",
  "tags": []
}