src/app/n8n-library/jsons/gmail-auto-label-response.json
{
  "name": "Gmail Auto-Label & Response Drafter",
  "nodes": [
    {
      "parameters": {
        "resource": "message",
        "operation": "watch",
        "labelIds": ["INBOX"],
        "additionalFields": {
          "topicName": "{{ $secrets.GMAIL_PUBSUB_TOPIC }}"
        }
      },
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-cred",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "get",
        "messageId": "{{ $node['Gmail Trigger'].json['id'] }}",
        "format": "full"
      },
      "name": "Get Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-cred",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "value": {
          "email_id": "{{ $node['Get Email'].json['id'] }}",
          "from": "{{ $node['Get Email'].json['payload']['headers'].find(h => h.name === 'From').value }}",
          "subject": "{{ $node['Get Email'].json['payload']['headers'].find(h => h.name === 'Subject').value }}",
          "body": "{{ $node['Get Email'].json['snippet'] }}"
        }
      },
      "name": "Format Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o",
        "prompt": "Analyze the following email and assign smart labels (e.g., Urgent, Customer Inquiry, Meeting Request, Positive, Negative, Follow-Up) based on content, sentiment, and intent. Also determine if a reply is needed (e.g., for inquiries or complaints). Return JSON: {labels: [], needsReply: boolean}. Email: From: {{ $node['Format Email'].json['from'] }}, Subject: {{ $node['Format Email'].json['subject'] }}, Body: {{ $node['Format Email'].json['body'] }}",
        "maxTokens": 200,
        "jsonOutput": true
      },
      "name": "Assign Labels",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "condition": {
          "conditions": [
            {
              "value1": "{{ $node['Assign Labels'].json['labels'] }}",
              "operation": "not_empty"
            }
          ]
        }
      },
      "name": "Check Labels",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "addLabel",
        "messageId": "{{ $node['Format Email'].json['email_id'] }}",
        "labelIds": "{{ $node['Assign Labels'].json['labels'] }}"
      },
      "name": "Apply Labels",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [1340, 200],
      "executeOnce": false,
      "continueOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-cred",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "condition": {
          "conditions": [
            {
              "value1": "{{ $node['Assign Labels'].json['needsReply'] }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "name": "Check Reply Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o",
        "prompt": "Draft a professional, concise reply to the following email. Use a friendly tone, address the sender by name, and align with the email’s intent (e.g., answer inquiries, address complaints). Keep under 200 words. Return JSON: {reply: ''}. Email: From: {{ $node['Format Email'].json['from'] }}, Subject: {{ $node['Format Email'].json['subject'] }}, Body: {{ $node['Format Email'].json['body'] }}",
        "maxTokens": 300,
        "jsonOutput": true
      },
      "name": "Draft Reply",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1560, 500],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "condition": {
          "conditions": [
            {
              "value1": "{{ $node['Draft Reply'].json['reply'] }}",
              "operation": "not_empty"
            }
          ]
        }
      },
      "name": "Check Reply",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1780, 500]
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "create",
        "to": "{{ $node['Format Email'].json['from'] }}",
        "subject": "Re: {{ $node['Format Email'].json['subject'] }}",
        "message": "{{ $node['Draft Reply'].json['reply'] }}",
        "additionalFields": {
          "inReplyTo": "{{ $node['Format Email'].json['email_id'] }}"
        }
      },
      "name": "Create Gmail Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [2000, 500],
      "executeOnce": false,
      "continueOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-cred",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "waitAmount": 1,
        "waitUnit": "seconds"
      },
      "name": "Rate Limit",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "{{ $secrets.GOOGLE_SHEETS_DOCUMENT_ID }}",
        "sheetName": "Email Logs",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email_id": "{{ $node['Format Email'].json['email_id'] }}",
            "from": "{{ $node['Format Email'].json['from'] }}",
            "subject": "{{ $node['Format Email'].json['subject'] }}",
            "labels": "{{ $node['Assign Labels'].json['labels'].join(', ') }}",
            "reply_drafted": "{{ $node['Draft Reply'].json['reply'] || 'None' }}",
            "status": "Success",
            "timestamp": "{{ $now }}"
          },
          "schema": [
            { "id": "email_id", "type": "string", "display": true, "required": false },
            { "id": "from", "type": "string", "display": true, "required": false },
            { "id": "subject", "type": "string", "display": true, "required": false },
            { "id": "labels", "type": "string", "display": true, "required": false },
            { "id": "reply_drafted", "type": "string", "display": true, "required": false },
            { "id": "status", "type": "string", "display": true, "required": false },
            { "id": "timestamp", "type": "string", "display": true, "required": false }
          ]
        }
      },
      "name": "Log Success",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2220, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gsheets-cred",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "channel": "{{ $secrets.SLACK_CHANNEL }}",
        "text": "Email labeled and reply drafted (if needed) for email ID {{ $node['Format Email'].json['email_id'] }} from {{ $node['Format Email'].json['from'] }} at {{ $now }}."
      },
      "name": "Notify Success",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [2440, 300],
      "credentials": {
        "slackApi": {
          "id": "slack-cred",
          "name": "Slack Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "{{ $secrets.GOOGLE_SHEETS_DOCUMENT_ID }}",
        "sheetName": "Errors",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email_id": "{{ $node['Format Email'].json['email_id'] || 'unknown' }}",
            "error": "Failed to label or draft reply",
            "timestamp": "{{ $now }}"
          },
          "schema": [
            { "id": "email_id", "type": "string", "display": true, "required": false },
            { "id": "error", "type": "string", "display": true, "required": false },
            { "id": "timestamp", "type": "string", "display": true, "required": false }
          ]
        }
      },
      "name": "Log Error",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1780, 700],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gsheets-cred",
          "name": "Google Sheets Account"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Email": {
      "main": [
        [
          {
            "node": "Format Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email": {
      "main": [
        [
          {
            "node": "Assign Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Labels": {
      "main": [
        [
          {
            "node": "Check Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Labels": {
      "main": [
        [
          {
            "node": "Apply Labels",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Reply Needed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Labels": {
      "main": [
        [
          {
            "node": "Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Reply Needed": {
      "main": [
        [
          {
            "node": "Draft Reply",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Draft Reply": {
      "main": [
        [
          {
            "node": "Check Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Reply": {
      "main": [
        [
          {
            "node": "Create Gmail Draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Gmail Draft": {
      "main": [
        [
          {
            "node": "Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Notify Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "UTC",
    "saveExecutionProgress": true,
    "errorWorkflow": "",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "active": true,
  "meta": {
    "tags": ["Gmail", "AI", "Email Automation"],
    "integrations": ["Gmail", "OpenAI", "Google Sheets", "Slack"],
    "notes": "Ensure compliance with Gmail, OpenAI, and data protection regulations (e.g., GDPR, CCPA). Human review of AI-generated drafts is recommended before sending. Configure API keys securely in n8n Credentials."
  }
}
