src/app/n8n-library/jsons/Google-Maps-Lead-Generation.json
{
  "name": "Google Maps Automatic Email Scraper",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Run Workflow Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 200]
    },
    {
      "parameters": {
        "functionCode": "return [\n  { json: { query: \"real estate agent in Salt Lake City\" } },\n  { json: { query: \"law firm in New York\" } },\n  { json: { query: \"coffee shops in San Francisco\" } }\n];"
      },
      "id": "2",
      "name": "Define Queries",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [400, 200]
    },
    {
      "parameters": {
        "fieldToSplitOut": "query"
      },
      "id": "3",
      "name": "Loop Over Queries",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [600, 200]
    },
    {
      "parameters": {
        "url": "={{`https://www.google.com/maps/search/${$json[\"query\"]}`}}",
        "responseFormat": "string"
      },
      "id": "4",
      "name": "Search Google Maps",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [800, 200]
    },
    {
      "parameters": {
        "extractionValues": [
          {
            "key": "urls",
            "cssSelector": "a",
            "returnValue": "attribute",
            "attribute": "href"
          }
        ]
      },
      "id": "5",
      "name": "Extract URLs",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "functionCode": "items[0].json.urls = items[0].json.urls.filter(url => url.includes('http') && !url.includes('google.'));\nreturn items[0].json.urls.map(u => ({ json: { url: u } }));"
      },
      "id": "6",
      "name": "Filter Irrelevant URLs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "property": "url"
      },
      "id": "7",
      "name": "Remove Duplicate URLs",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1,
      "position": [1400, 200]
    },
    {
      "parameters": {
        "url": "={{$json[\"url\"]}}",
        "responseFormat": "string"
      },
      "id": "8",
      "name": "Fetch Web Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1600, 200]
    },
    {
      "parameters": {
        "functionCode": "const emails = [];\nconst regex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g;\nconst matches = items[0].json[\"body\"].match(regex);\nif (matches) {\n  matches.forEach(e => emails.push(e));\n}\nreturn emails.map(e => ({ json: { email: e, source: $json.url } }));"
      },
      "id": "9",
      "name": "Extract Emails",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1800, 200]
    },
    {
      "parameters": {
        "property": "email"
      },
      "id": "10",
      "name": "Remove Duplicate Emails",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "Email", "value": "={{$json[\"email\"]}}" },
            { "name": "Source", "value": "={{$json[\"source\"]}}" }
          ]
        },
        "options": { "value": "={{$json}}" }
      },
      "id": "11",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [2200, 200],
      "credentials": { "googleSheetsOAuth2": "YOUR_GOOGLE_SHEETS_CREDENTIALS" }
    },
    {
      "parameters": {
        "content": "# Setup Guide\n1. Enter your queries in **Define Queries**.\n2. Connect your Google Sheets credentials.\n3. Run the workflow."
      },
      "id": "12",
      "name": "Sticky Note - Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 40]
    },
    {
      "parameters": {
        "content": "## Scraper\nLoops through queries, fetches Google Maps results, extracts URLs, fetches each page, and scrapes emails."
      },
      "id": "13",
      "name": "Sticky Note - Scraper",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1000, 100]
    },
    {
      "parameters": {
        "content": "### Optional Filters\nYou can adjust regex in **Extract Emails** or modify URL filtering in **Filter Irrelevant URLs**."
      },
      "id": "14",
      "name": "Sticky Note - Filters",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1400, 100]
    },
    {
      "parameters": {
        "content": "### Save Instructions\nAll results are appended into the connected Google Sheet.\n\nFields: `Email` + `Source`"
      },
      "id": "15",
      "name": "Sticky Note - Save",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2200, 100]
    },
    {
      "parameters": {
        "content": "⚠️ Note: This workflow scrapes public data. Respect terms of service and local regulations."
      },
      "id": "16",
      "name": "Sticky Note - Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [400, 40]
    }
  ],
  "connections": {
    "Run Workflow Trigger": {
      "main": [[{ "node": "Define Queries", "type": "main", "index": 0 }]]
    },
    "Define Queries": {
      "main": [[{ "node": "Loop Over Queries", "type": "main", "index": 0 }]]
    },
    "Loop Over Queries": {
      "main": [[{ "node": "Search Google Maps", "type": "main", "index": 0 }]]
    },
    "Search Google Maps": {
      "main": [[{ "node": "Extract URLs", "type": "main", "index": 0 }]]
    },
    "Extract URLs": {
      "main": [[{ "node": "Filter Irrelevant URLs", "type": "main", "index": 0 }]]
    },
    "Filter Irrelevant URLs": {
      "main": [[{ "node": "Remove Duplicate URLs", "type": "main", "index": 0 }]]
    },
    "Remove Duplicate URLs": {
      "main": [[{ "node": "Fetch Web Page", "type": "main", "index": 0 }]]
    },
    "Fetch Web Page": {
      "main": [[{ "node": "Extract Emails", "type": "main", "index": 0 }]]
    },
    "Extract Emails": {
      "main": [[{ "node": "Remove Duplicate Emails", "type": "main", "index": 0 }]]
    },
    "Remove Duplicate Emails": {
      "main": [[{ "node": "Save to Google Sheets", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
