src/app/n8n-library/jsons/long-form-youtube-ai-gen.json
{
  "name": "Long Form YouTube AI Creator",
  "nodes": [
    {
      "parameters": {
        "interval": "day",
        "unit": "days"
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": "{{ $secrets.GOOGLE_SHEETS_DOCUMENT_ID }}",
        "sheetName": "Topics",
        "options": {
          "limit": 1,
          "range": "A2:B"
        }
      },
      "name": "Get Topic",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        460,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gsheets-cred",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "condition": {
          "conditions": [
            {
              "value1": "{{ $node['Get Topic'].json['topic'] }}",
              "operation": "not_empty"
            }
          ]
        }
      },
      "name": "Check Topic",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o",
        "prompt": "Generate a script for a 10-15 minute YouTube Top 10 video on the topic: {{ $node['Get Topic'].json['topic'] }}. The script should be engaging, informative, and suitable for narration. Include a catchy title, an introduction, 10 ranked items with practical details, and a conclusion. Each item should be concise to maintain audience interest. Return JSON: {title: '', script: ''}.",
        "maxTokens": 1500,
        "jsonOutput": true
      },
      "name": "Generate Script",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "condition": {
          "conditions": [
            {
              "value1": "{{ $node['Generate Script'].json['script'] }}",
              "operation": "not_empty"
            }
          ]
        }
      },
      "name": "Check Script",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.fliki.ai/v1/video",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "script",
              "value": "{{ $node['Generate Script'].json['script'] }}"
            },
            {
              "name": "voice",
              "value": "en-US-Jenny-Neural"
            },
            {
              "name": "template",
              "value": "listicle"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $secrets.FLIKI_API_KEY }}"
            }
          ]
        },
        "responseFormat": "json"
      },
      "name": "Create Fliki Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "condition": {
          "conditions": [
            {
              "value1": "{{ $node['Create Fliki Video'].json['video_url'] }}",
              "operation": "not_empty"
            }
          ]
        }
      },
      "name": "Check Video",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1560,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "{{ $node['Create Fliki Video'].json['video_url'] }}",
        "responseFormat": "file"
      },
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        200
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "{{ $node['Generate Script'].json['title'] }}",
        "description": "Check out our latest Top 10 video on {{ $node['Get Topic'].json['topic'] }}! Subscribe for more engaging content!",
        "binaryData": {
          "binaryPropertyName": "data",
          "binaryData": "{{ $node['Download Video'].binary['data'] }}"
        },
        "additionalFields": {
          "categoryId": "24",
          "tags": "top 10, {{ $node['Get Topic'].json['topic'] }}, ai generated, ranking",
          "privacyStatus": "public"
        }
      },
      "name": "Upload to YouTube",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        2000,
        200
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "youtube-cred",
          "name": "YouTube Account"
        }
      }
    },
    {
      "parameters": {
        "waitAmount": 1,
        "waitUnit": "seconds"
      },
      "name": "Rate Limit",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2220,
        200
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "{{ $secrets.GOOGLE_SHEETS_DOCUMENT_ID }}",
        "sheetName": "Video Logs",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "topic": "{{ $node['Get Topic'].json['topic'] }}",
            "title": "{{ $node['Generate Script'].json['title'] }}",
            "video_url": "{{ $node['Upload to YouTube'].json['snippet']['resourceId']['videoId'] ? 'https://www.youtube.com/watch?v=' + $node['Upload to YouTube'].json['snippet']['resourceId']['videoId'] : 'N/A' }}",
            "status": "Success",
            "timestamp": "{{ $now }}"
          },
          "schema": [
            {
              "id": "topic",
              "type": "string",
              "display": true,
              "required": false
            },
            {
              "id": "title",
              "type": "string",
              "display": true,
              "required": false
            },
            {
              "id": "video_url",
              "type": "string",
              "display": true,
              "required": false
            },
            {
              "id": "status",
              "type": "string",
              "display": true,
              "required": false
            },
            {
              "id": "timestamp",
              "type": "string",
              "display": true,
              "required": false
            }
          ]
        }
      },
      "name": "Log Success",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2440,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gsheets-cred",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "channel": "{{ $secrets.SLACK_CHANNEL }}",
        "text": "Top 10 video uploaded to YouTube: {{ $node['Generate Script'].json['title'] }} at {{ $now }}."
      },
      "name": "Notify Success",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        2660,
        200
      ],
      "credentials": {
        "slackApi": {
          "id": "slack-cred",
          "name": "Slack Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "{{ $secrets.GOOGLE_SHEETS_DOCUMENT_ID }}",
        "sheetName": "Errors",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "topic": "{{ $node['Get Topic'].json['topic'] || 'unknown' }}",
            "error": "Failed to generate script, create video, or upload to YouTube",
            "timestamp": "{{ $now }}"
          },
          "schema": [
            {
              "id": "topic",
              "type": "string",
              "display": true,
              "required": false
            },
            {
              "id": "error",
              "type": "string",
              "display": true,
              "required": false
            },
            {
              "id": "timestamp",
              "type": "string",
              "display": true,
              "required": false
            }
          ]
        }
      },
      "name": "Log Error",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1560,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gsheets-cred",
          "name": "Google Sheets Account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Topic": {
      "main": [
        [
          {
            "node": "Check Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Topic": {
      "main": [
        [
          {
            "node": "Generate Script",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Script": {
      "main": [
        [
          {
            "node": "Check Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Script": {
      "main": [
        [
          {
            "node": "Create Fliki Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Fliki Video": {
      "main": [
        [
          {
            "node": "Check Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Upload to YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to YouTube": {
      "main": [
        [
          {
            "node": "Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Notify Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "UTC",
    "saveExecutionProgress": true,
    "errorWorkflow": "",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "active": true,
  "meta": {
    "tags": [
      "YouTube",
      "AI",
      "Video Generation"
    ],
    "integrations": [
      "YouTube API",
      "OpenAI",
      "Fliki",
      "Google Sheets",
      "Slack"
    ],
    "notes": "Ensure compliance with YouTube, OpenAI, Fliki, and data protection regulations (e.g., GDPR, CCPA). Verify video content for copyright and YouTube policies before uploading. Configure API keys securely in n8n Credentials."
  }
}