src/app/n8n-library/jsons/n8n-workflow-errors-to-Telegram.json
{
  "name": "🚨 Report n8n workflow errors to Telegram",
  "nodes": [
    {
      "parameters": {},
      "id": "aa84d631-c14f-45c2-a659-454605e83c30",
      "name": "On Error",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        448,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "message",
              "value": "=⚠️ Workflow `{{$json[\"workflow\"][\"name\"]}}` failed to run! [execution]({{ $json.execution.url }})"
            }
          ]
        },
        "options": {}
      },
      "id": "abffce17-cc93-4c6a-8955-de2d0f4cc885",
      "name": "Set message",
      "type": "n8n-nodes-base.set",
      "position": [
        720,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 👨‍🎤 Setup\n1. Add Telegram creds\n2. Set chat id in **Telegram** node\n2. Add this error workflow to other workflows\nhttps://docs.n8n.io/flow-logic/error-handling/#create-and-set-an-error-workflow",
        "height": 154.7766688696994,
        "width": 424.4907862645661,
        "color": 5
      },
      "id": "1e5c4af6-30ae-45b8-bca7-048a656ce9bd",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "1688282582",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "845ddf26-2d40-4cc6-843b-ccb3b365fbfb",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        928,
        448
      ],
      "typeVersion": 1.1,
      "webhookId": "4ec1c1d4-79db-40cd-861a-ee6a0cd16a6a"
    },
    {
      "parameters": {
        "content": "### 👆🏽 Set chat id here",
        "height": 80,
        "width": 241
      },
      "id": "90db96b8-0e43-4977-b455-3e6813211640",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        624
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "On Error": {
      "main": [
        [
          {
            "node": "Set message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set message": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9b4555a6-c110-4bba-a319-660fa44fe589",
  "meta": {
    "templateId": "2159",
    "instanceId": "edc6b29440a8527b40ab7b686d557a3f22ba638eac75ae01f4cebc40fffb5604"
  },
  "id": "yCePY9Jta5qeASho",
  "tags": []
}