src/app/n8n-library/jsons/OpenAI_and_LLMs_AI-Youtube-Trend-Finde- Based On Niche.json
{
  "exportedWorkflows": [
    {
      "name": "AI Youtube Trend Finder (Main)",
      "nodes": [
        {
          "parameters": {},
          "id": "trigger_chat",
          "name": "chat_message_received",
          "type": "@n8n/n8n-nodes-langchain.chatTrigger",
          "typeVersion": 1.1,
          "position": [100, 200]
        },
        {
          "parameters": {
            "options": {
              "systemMessage": "You help YouTube creators find trending videos based on a specific niche.\n\n1. Verify if the user provided a niche. If not, ask them for one with suggestions.\n2. Use the youtube_search tool up to 3 times with different queries based on niche.\n3. The tool returns recent videos with stats.\n4. Summarize insights, identify content patterns, and provide structured links.\n\nExample response:\n\"In the last 2 days, digital marketing content about 'mental triggers' is trending, with 3 high-engagement videos surpassing 50K views each...\"\n\nAlways give:\n- Trends summary\n- Links: https://www.youtube.com/watch?v={id}\n- Channels: https://www.youtube.com/channel/{channelId}\n- Stats: views, likes, comments"
            }
          },
          "id": "ai_agent",
          "name": "AI Agent",
          "type": "@n8n/n8n-nodes-langchain.agent",
          "typeVersion": 1.6,
          "position": [400, 200]
        },
        {
          "parameters": {},
          "id": "openai_llm",
          "name": "openai_llm",
          "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
          "typeVersion": 1,
          "position": [400, 400],
          "credentials": {
            "openAiApi": {
              "id": "YOUR_OPENAI_API_ID",
              "name": "OpenAI Production Key"
            }
          }
        },
        {
          "parameters": {},
          "id": "memory",
          "name": "window_buffer_memory",
          "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
          "typeVersion": 1.2,
          "position": [400, 600]
        },
        {
          "parameters": {
            "name": "youtube_search",
            "description": "Search trending YouTube videos by niche",
            "workflowId": {
              "__rl": true,
              "mode": "list",
              "value": "WORKFLOW_ID_YOUTUBE_SEARCH",
              "cachedResultName": "YouTube Search Workflow"
            },
            "specifyInputSchema": true,
            "jsonSchemaExample": "{ \"search_term\": \"crypto news\" }"
          },
          "id": "youtube_tool",
          "name": "youtube_search",
          "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
          "typeVersion": 1.2,
          "position": [700, 200]
        }
      ],
      "connections": {
        "chat_message_received": {
          "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
        },
        "openai_llm": {
          "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
        },
        "window_buffer_memory": {
          "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
        },
        "youtube_search": {
          "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
        }
      }
    },
    {
      "name": "YouTube Search Workflow",
      "nodes": [
        {
          "parameters": {
            "resource": "video",
            "limit": 5,
            "filters": {
              "publishedAfter": "={{ new Date(Date.now() - 2 * 24 * 60 * 60 * 1000).toISOString() }}",
              "q": "={{ $json.search_term }}",
              "regionCode": "US"
            },
            "options": {
              "order": "relevance",
              "safeSearch": "moderate"
            }
          },
          "id": "youtube_api",
          "name": "get_videos",
          "type": "n8n-nodes-base.youTube",
          "typeVersion": 1,
          "position": [200, 200]
        },
        {
          "parameters": {},
          "id": "split_batch",
          "name": "loop_over_items",
          "type": "n8n-nodes-base.splitInBatches",
          "typeVersion": 3,
          "position": [400, 200]
        },
        {
          "parameters": {
            "url": "https://www.googleapis.com/youtube/v3/videos",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                { "name": "key", "value": "={{ $env[\"GOOGLE_API_KEY\"] }}" },
                { "name": "id", "value": "={{ $json.id.videoId }}" },
                { "name": "part", "value": "contentDetails,snippet,statistics" }
              ]
            }
          },
          "id": "http_details",
          "name": "find_video_data",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [600, 200]
        },
        {
          "parameters": {
            "conditions": {
              "conditions": [
                {
                  "operator": {
                    "type": "boolean",
                    "operation": "true"
                  },
                  "leftValue": "={{ (() => { const dur = $json.items[0].contentDetails.duration; const m = dur.match(/PT(?:(\\d+)M)?(?:(\\d+)S)?/); const min = parseInt(m[1]||0,10); const sec = parseInt(m[2]||0,10); return (min*60+sec) > 210; })() }}"
                }
              ]
            }
          },
          "id": "if_duration",
          "name": "if_longer_than_3min",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2,
          "position": [800, 200]
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                { "name": "videoId", "value": "={{ $json.items[0].id }}" },
                { "name": "title", "value": "={{ $json.items[0].snippet.title }}" },
                { "name": "channelId", "value": "={{ $json.items[0].snippet.channelId }}" },
                { "name": "channelTitle", "value": "={{ $json.items[0].snippet.channelTitle }}" },
                { "name": "tags", "value": "={{ $json.items[0].snippet.tags.join(', ') }}" },
                { "name": "viewCount", "value": "={{ $json.items[0].statistics.viewCount }}" },
                { "name": "likeCount", "value": "={{ $json.items[0].statistics.likeCount }}" },
                { "name": "commentCount", "value": "={{ $json.items[0].statistics.commentCount }}" }
              ]
            }
          },
          "id": "set_data",
          "name": "group_data",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [1000, 200]
        }
      ],
      "connections": {
        "get_videos": {
          "main": [[{ "node": "loop_over_items", "type": "main", "index": 0 }]]
        },
        "loop_over_items": {
          "main": [[{ "node": "find_video_data", "type": "main", "index": 0 }]]
        },
        "find_video_data": {
          "main": [[{ "node": "if_longer_than_3min", "type": "main", "index": 0 }]]
        },
        "if_longer_than_3min": {
          "main": [[{ "node": "group_data", "type": "main", "index": 0 }]]
        }
      }
    }
  ]
}
